{% extends 'base.html' %}

{% block title %}

	<title>Sign-Up Succesfull</title>

{% endblock title %}

{% block content %}
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">SIGN-UP SUCCESSFULL</h3>
				</div>
                <div class="d-flex justify-content-center links">
                       {{ name }}An account was created successfully
                </div>
                <div class="d-flex justify-content-center links">
                        <a href="{% url 'login:index' %}">Click here to Login</a>
                </div>
			</div>
		</div>
	</div>
{% endblock content %}