{% extends 'base.html' %}
{% block title %}
	<title>Add New Discussion</title>
  <style>
    .discbtn {
			width: 100%;
			background: #f7ba5b ;
			color: white ;
		}

    .discbtn:hover {
			background: #f7ba5b ;
      box-shadow: 4px rgba(0,0,0,0.2);
		}

    h3{
      margin-bottom: -8px;
    }
    </style>
{% endblock title %}
{% block content %}

		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">Add New Discussion</h3>
				</div>
				<div class="d-flex justify-content-center form_container">
					<div class ="form-group">
                        <form action="" method="POST">
                          {% csrf_token %}
                          <div class="align-items-center">
                            <div class="input-group-append">
                                <label for="title"><span>Title<span class="required">*</span></span></label><br>
                            </div>
                            <input class="form-control" type="text" name="title" required><br>
                            <div class="input-group-append">
                              <label for="message"><span>Message<span class="required">*</span></span></label><br>
                            </div>
                            <textarea class="form-control" type="text" name="message" rows="10" cols="30" maxlength="1000000" required></textarea>
                            <div class="d-flex justify-content-center mt-3 login_container">
                              <input type="submit" class="btn discbtn" value="Add New Discussion">
                            </div>
                          </div>
                        </form>
                    </div>
				</div>
			</div>
		</div>
	
{% endblock content %}