{% extends 'base.html' %}
{%load static%}
  {% block title %}
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/30670bb7aa.js" crossorigin="anonymous"></script>
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
  <style>
    h1{
      color: white;
      position: relative;
      top: 150px;
    }

    button{
      background: #33a08c;
      border: none
    }
    body, html {
      margin: 0;
			padding: 0;
			height: 100%;
      background: #7abecc !important;
    }

  </style>
  {% endblock title %}

  {% block content %}
  <div class="text-center">
    <h1>Yuk cek apotek di kotamu!</h1>
    </div>
  
  
    <div class = "wrapper">
      <input type ="text" class="input" id = "inputPengguna"placeholder="Masukkan nama kota...">
      <button id = "searchBtn">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="52" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>
  </div>
  <div class = "wrap">

  </div>
  
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> 
  <script>
      $(document).ready(function(){
          $("#searchBtn").on('click',function(){
              // Run Ajax
              $.ajax({
                  url:"{% url 'apotek:search' %}",
                  type:'get',
                  data:{
                      'inputan': $("#inputPengguna").val(),
                  },
                  success:function(res){
                      $(".wrap").html(res['html_from_view']);
                  }
              });
          });
      });
  </script>   
  {% endblock content %}